<div class="col-12 tab-navbar tab-container" *ngIf="model">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/courses/list']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Courses.Title'"></span></a>
    </li>
  </ul>
</div>

<div class="col-12 tab-navbar tab-container">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
