<div class="col-12 tab-navbar tab-container">
  <ul class="nav d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['../']">
        <i class="fa fa-chevron-left pr-1"></i> {{ 'Sidebar.Scholarships' | translate }}
      </a>
    </li>
  </ul>
  <div class="row pt-2 pb-2" *ngIf="model">
    <div class="col-auto">
      <h1 class="d-inline"> {{model.name}} {{ (model.scholarshipType ? ' - ' + ('Scholarships.ScholarshipType.' + model.scholarshipType?.alternateName | translate) :  '') }} {{ (model.status ? ' : ' + ('Scholarships.StatusAlternateName.' + model.status?.alternateName | translate) :  '') }} </h1>
      <div class="dropdown d-inline">
        <a class="pt-0 px-0" type="button" id="dropdownScholarshipsMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa-2x text-dots"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownScholarshipsMenuButton">
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

