<form class="mt-3 collapsible-form ">
    <div class="row">

        <div class="col-6">
            <div class="form-group text-dark">
            <label for="scholarshipname" [translate]="'Scholarships.Name'"></label>
            <input [disabled]="true" class="form-control bg-white" id="scholarshipname" name="scholarshipname" type="text" [(ngModel)]="model.name">
            </div>
        </div>
        <div class="col-6" *ngIf="model.department">
            <div class="form-group text-dark">
            <label for="department" [translate]="'Scholarships.Department'"></label>
            <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text" [(ngModel)]="model.department.name">
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-3" *ngIf="model.organization">
            <div class="form-group text-dark">
            <label for="organization" [translate]="'Scholarships.Organization'"></label>
            <input [disabled]="true" class="form-control bg-white" id="organization" name="organization" type="text" [(ngModel)]="model.organization">
            </div>
        </div>
        <div class="col-3" *ngIf="model.year">
            <div class="form-group text-dark">
            <label for="academicyear" [translate]="'Scholarships.YearAlternateName'"></label>
            <input [disabled]="true" class="form-control bg-white" id="academicyear" name="academicyear" type="text" [(ngModel)]="model.year.alternateName">
            </div>
        </div>

        <div class="col-3" *ngIf="model.scholarshipType">
            <div class="form-group text-dark">
            <label for="id" [translate]="'Scholarships.ScholarshipTypeName'"></label>
            <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text" [value]="'Scholarships.ScholarshipType.' + model.scholarshipType?.alternateName | translate">
            </div>
        </div>

        <div class="col-3" *ngIf="model.status">
            <div class="form-group text-dark">
                <label for="status" [translate]="'Scholarships.StatusName'"></label>


                <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text" [value]="'Scholarships.StatusAlternateName.' + model.status?.alternateName | translate">

            </div>
        </div>

    </div>
</form>
