<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/exams/list']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Exams.Title'"></span></a>
    </li>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
          </div>
      </div>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
