<div>
    <div class="row">
        <div class="col-12" [ngVar]="{}" #filter="ngVar">
            <app-advanced-table-search [(filter)]="filter.value" [collapsed]="true" [table]="students">
                <advanced-search>
                    <app-classes-student-advanced-table-search [(filter)]="filter.value">
                    </app-classes-student-advanced-table-search>
                </advanced-search>
            </app-advanced-table-search>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <app-advanced-table #students [height]="600" [config]="config"></app-advanced-table>
        </div>
    </div>
</div>
