<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <form-collapsible [collapsed]="false">
      <form-header>
        <span [translate]="'Internships.InternshipInfo'"></span>
      </form-header>
      <form-body>
        <app-internships-preview-form [model]="model"></app-internships-preview-form>
      </form-body>
    </form-collapsible>
  </div>
</div>

<div class="row mt-4 mb-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <form-collapsible [collapsed]="false">
      <form-header>
        <span [translate]="'Students.Info'"></span>
      </form-header>
      <form-body>
        <app-students-preview-form-component [model]="model.student"></app-students-preview-form-component>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12">
            <a href="#/students/{{model.student.id}}"
              class="btn btn-md text-light bg-primary px-3 float-right">{{ 'Details' | translate }}</a>
          </div>
        </div>
      </form-body>
    </form-collapsible>
  </div>
</div>
