<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex">
    <li class="nav-item tab-brand disabled">
      <a class="nav-link disabled" href="javascript:void(0)"
         [translate]="'Courses.Title'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Courses.All'"
         [routerLink]="['list']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Courses.Active.Plural'"
         [routerLink]="['list']" [queryParams]="{ $filter:'isEnabled eq 1' }"
         [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"></a>
    </li>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
          <button type="button" class="btn btn-light">
            <span class="text-dots"></span>
          </button>
        </div>
        <div class="btn-group mr-2" role="group">
          <a type="button" class="btn btn-light pl-5 pr-5"
            [routerLink]="['new']"
            [translate]="'Courses.New'">
          </a>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-success pl-5 pr-5"
                  [translate]="'Courses.Export'">Action</button>
        </div>
      </div>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
