<div class="row mt-4">
  <div class="col-lg-9 col-md-8 col-12">
    <app-students-courses-by-semester></app-students-courses-by-semester>
  </div>
  <div class="col-lg-3 col-md-4 col-12">
    <app-students-stats [studentId]="studentId" [showMore]="showMore"></app-students-stats>
  </div>
</div>
