<div class="col-12 tab-navbar tab-container" *ngIf="student">
  <ul class="nav d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/students/list']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Students.Students'"></span></a>
    </li>
    <!--<li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
          <button type="button" class="btn btn-light">
            <span class="text-dots"></span>
          </button>
        </div>
        <div class="btn-group mr-2" role="group">
          <button type="button" class="btn btn-light pl-5 pr-5"
                  [translate]="'Students.New'"></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-success pl-5 pr-5"
                  [translate]="'Students.Save'"></button>
        </div>
      </div>
    </li>-->
  </ul>
  <div class="row pt-2 pb-2">
    <div class="col-auto">
      <h1>{{student?.person?.givenName}} {{student?.person?.familyName}} <span class="font-xl">{{ 'Students.StudentID' | translate }}:  {{student?.studentIdentifier}}</span> <span>
        <i placement="bottom" id="tooltip" [tooltip]="tooltipTemplate" class="fa fa-info bg-primary text-light px-2 py-1 ml-3 rounded-circle font-xs align-middle"></i></span>
      </h1>
    </div>
    <div class="col-auto">
      <div class="dropdown">
        <a class="btn" type="button" id="dropdownStudentMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa-2x text-dots"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownStudentMenuButton">
          <a class="dropdown-item" href="#/students/{{student.id}}/dashboard">{{ 'Students.Preview' | translate }}</a>
          <a class="dropdown-item" href="#/study-programs/{{student.studyProgram.id}}/preview/general">{{ 'Students.PreviewStudyProgram' | translate }}</a>
          <a class="dropdown-item" href="#/students/{{student.id}}/edit">{{ 'Students.Edit' | translate }}</a>
          <a class="dropdown-item" href="#/students/{{student.id}}/dashboard/overview/(modal:complete-inscription)"
            *ngIf="student.studentStatus.alternateName == 'candidate'"
          >
            {{ 'Students.CompleteInscription' | translate }}
          </a>
          <a class="dropdown-item" href="#/students/{{student.id}}/remove">{{ 'Students.Remove' | translate }}</a>
        </div>
      </div>
    </div>
    <!--<div class="col-auto my-auto">
      <span class="font-xl" [translate]="'Students.Status'"></span> :
      <span class="font-xl" [ngClass]="student?.studentStatus?.alternateName==='erased'? 'text-danger' :
                                                student?.studentStatus?.alternateName === 'graduated' ? 'text-primary' :
                                                student?.studentStatus?.alternateName === 'suspended' ? 'text-danger' :
                                                student?.studentStatus?.alternateName === 'declared' ? 'text-primary' :
                                                student?.studentStatus?.alternateName === 'candidate' ? 'text-success' :
                                                student?.studentStatus?.alternateName === 'active' ? 'text-success' : 'text-dark'">
        {{ 'StudentStatuses.' + student?.studentStatus?.alternateName | translate}}</span>
    </div>-->
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>

<ng-template #tooltipTemplate>
  <div class="font-lg text-gray-600">
    <div class="row m-1">
     <div class="col-md-6 text-left text-dark">
       <span [translate]="'Students.StudentID'"></span>
     </div>
      <div class="col-md-6 text-left">
        <span>{{student.studentIdentifier}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.Status'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{ 'StudentStatuses.' + student.studentStatus.alternateName | translate}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.inscriptionYear'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{student.inscriptionRetroYear.name}} {{ 'Periods.' + student.inscriptionRetroPeriod.alternateName | translate}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.Department'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{student.department.abbreviation}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.studyProgram'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{student.studyProgram.abbreviation}}</span>
      </div>
    </div>
  </div>
</ng-template>
