<div *ngIf="model">
  <div *ngIf="model.length != 0">
    <div class="row mt-2" *ngFor="let registration of model;index as i;">
      <div class="col-12">
        <card-collapsible>
          <card-header>
            <span *ngIf="registration.registrationPeriod" [translate]="'Periods.' + registration.registrationPeriod.alternateName"></span>
            <span>&nbsp;</span>
            <span *ngIf="registration.registrationYear">{{registration.registrationYear.alternateName}}</span>
            <span>&nbsp;</span>
            <span *ngIf="registration.status">(<span [translate]="'RegistrationStatus.' + registration.status.alternateName"></span>)</span>
          </card-header>
          <card-body>
            <app-students-registration-preview-form [model]="registration"></app-students-registration-preview-form>
            <app-students-registration-classes-form [registration]="registration"></app-students-registration-classes-form>
          </card-body>
        </card-collapsible>
      </div>
    </div>
  </div>
  <div *ngIf="model.length == 0">
    <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <p class="card-text" [translate]="'Registrations.NoRegistrations'"></p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
