<!-- <div>
  <div class="row">
    <div class="col-12">
      <app-advanced-table-search [table]="table"></app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #table [height]="600" [config]="config"></app-advanced-table>
    </div>
  </div>

</div> -->

<div>
    <div class="row">
      <div class="col-12" [ngVar]="{}" #filter="ngVar">
        <app-advanced-table-search [(filter)]="filter.value" [collapsed]="true" [table]="table">
          <advanced-search>
            <app-courses-advanced-table-search [(filter)]="filter.value"></app-courses-advanced-table-search>
          </advanced-search>
        </app-advanced-table-search>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-4">
        <app-advanced-table #table [height]="600" [config]="config"></app-advanced-table>
      </div>
    </div>
  </div>
  
