<div class="row">
    <div class="col-sm-12">
        <div id="advanced-form">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
                        <div class="form-group col-6">
                            <label class="pr-3" for="courseName" [translate]="'Courses.titleLabel'"></label>
                            <input [(ngModel)]="filter.courseName" spellcheck="false" type="text" id="courseName"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Courses.titleLabel' | translate }}">
                        </div>
                        <div class="form-group col-6">
                            <label class="pr-3" for="displayCode" [translate]="'Courses.displayCode'"></label>
                            <input [(ngModel)]="filter.displayCode" spellcheck="false" type="text" id="displayCode"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Courses.displayCode' | translate }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
                        <div class="form-group col-xl-4 col-md-6">
                            <div class="d-flex flex-row w-100">
                                <label class="pr-3" for="ects" [translate]="'Courses.ects'"></label>
                                <input [(ngModel)]="filter.ects" spellcheck="false" type="text" id="ects"
                                    name="searchText" class="form-control col text-left"
                                    placeholder="{{ 'Courses.ects' | translate }}">
                            </div>
                        </div>
                        <div class="form-group col-xl-4 col-md-6">
                            <div class="d-flex flex-row w-100">
                                <label class="pr-3" for="courseType" [translate]="'Courses.courseType'"></label>
                                <input [(ngModel)]="filter.courseType" spellcheck="false" type="text" id="courseType"
                                    name="searchText" class="form-control col text-left"
                                    placeholder="{{ 'Courses.courseType' | translate }}">
                            </div>
                        </div>
                        <div class="form-group col-xl-4 col-md-6">
                            <div class="d-flex flex-row w-100">
                                <label class="pr-3" for="semester" [translate]="'Courses.semester'"></label>
                                <input [(ngModel)]="filter.semester" spellcheck="false" type="text" id="semester"
                                    name="searchText" class="form-control col text-left"
                                    placeholder="{{ 'Courses.semester' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
