<div class="card">
  <div class="card-header d-md-flex">
    <h5 [translate]="'Students.LastRegistration'" class="mr-3  my-auto"></h5>
    <span class="text-gray-600 font-xs my-auto d-inline-block" *ngIf="lastRegistration">
      {{ lastRegistration?.registrationYear?.description }} {{ 'Periods.' + lastRegistration?.registrationPeriod?.alternateName | translate }} {{ 'Students.Semester' | translate }}
    </span>
    <a href="#/students/{{studentId}}/dashboard/registrations" class="text-primary ml-auto my-auto"><span [translate]="'Students.More'"></span></a>
  </div>
  <div class="card-body py-0">
    <div id="group-list"  class="flex-column" *ngIf="lastRegistration && lastRegistration.documents && lastRegistration.documents.length > 0">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Students.Date'"></div>
            <div class="sis--list-group-item_md_column d-none d-md-block text-center" [translate]="'Students.ActionTo'"></div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-left" [translate]="'Students.Status'"></div>
            <div class="sis--list-group-item_md_column text-left"></div>`
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body" *ngIf="lastRegistration?.documents">
        <li class="sis--list-group-item" *ngFor="let registration of lastRegistration.documents | slice:0:3;">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_sm_column text-left">{{ registration?.dateModified | date:'short' }}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left">{{ 'Students.Student' | translate }}</div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-left">
              <span [ngClass]="registration?.documentStatus.alternateName === 'pending'? 'text-success' : 'failed-grade'">
                {{ 'DocumentStatuses.' + registration?.documentStatus?.alternateName | translate}}
              </span>
            </div>
            <div class="sis--list-group-item_sm_column text-right">
              <a href="#/students/{{studentId}}/registrations/{{ registration?.id }}" class="text-primary text-decoration-none"
                 [translate]="'Students.View'"></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-3"  *ngIf="!lastRegistration || lastRegistration.documents.length == 0">
      <span [translate]="'Students.Empty'"></span>
    </div>
  </div>
  <div class="card-footer pt-0"*ngIf="lastRegistration && lastRegistration.documents && lastRegistration.documents.length > 0">
    <div class="text-gray-600 mt-3">{{ lastRegistration?.documents?.length }} <span [translate]="'Students.TotalChanges'"></span></div>
  </div>
</div>
