<div>
  <h4 class="mb-3">Preview</h4>
  <div class="row">
    <div id="preview1">
      <div class="font-xl">Course Types
        <div aria-label="Basic example" class="btn-group float-right" role="group">
          <button class="btn btn-indigo" type="button">Prerequisites</button>
          <button class="btn btn-secondary" type="button">Semester Exams</button>
        </div>
      </div>
      <div class="font-lg mt-3">
        <span class="fa fa-times text-danger"></span>
        Core Courses</div>
      <div class="border-left pl-3 text-muted font-md ml-1 mb-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
        exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      <div class="font-lg mt-3">
        <span class="fa fa-times text-danger"></span>
        General Courses</div>
      <div class="border-left pl-3 text-muted font-md ml-1 mb-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
        exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      <div class="font-lg mt-3">
        <span class="fa fa-times text-danger"></span>
        Section Courses</div>
      <div class="border-left pl-3 text-muted font-md ml-1 mb-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
        exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      <div class="font-lg mt-3">
        <span class="fa fa-times text-danger"></span>
        Section Core Courses</div>
      <div class="border-left pl-3 text-muted font-md ml-1 mb-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
        exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
    </div>
    <div class="mt-2 col-lg-12">
      <app-highlight-include [highlight]="'app/previews/components/graduation-rules/graduation-rules.component.html#preview1'"></app-highlight-include>
    </div>
  </div>
</div>
