<div *ngIf="model">
  <div class="row mt-4" *ngFor="let student of model.students;index as i;">
    <div class="col-lg-12 col-md-6 col-sm-12">
      <form-collapsible [collapsed]="false">
        <form-header>
          <span>{{student.student.person.givenName}} {{student.student.person.familyName}}</span>
        </form-header>
        <form-body>
          <form class="mt-2 collapsible-form">
            <div class="row">
              <div class="col-3">
                <div class="form-group text-dark">
                  <label for="studentIdentifier" [translate]="'Students.studentIdentifier'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="studentIdentifier" name="studentIdentifier" type="text"
                         [(ngModel)]="student.student.studentIdentifier">
                </div>
              </div>
              <div class="col-3">
                <div class="form-group text-dark">
                  <label for="department" [translate]="'Students.Department'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text"
                         [(ngModel)]="student.student.department.abbreviation">
                </div>
              </div>

              <div class="col-3">
                <div class="form-group text-dark">
                  <label for="dateCompleted" [translate]="'Theses.dateCompleted'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="dateCompleted" name="dateCompleted" type="text"
                         [value]="student.dateCompleted | date:'shortDate'">
                </div>
              </div>
              <div class="col-3">
                <div class="form-group text-dark">
                  <label for="formattedGrade" [translate]="'Students.Grade'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="formattedGrade" name="formattedGrade" type="text"
                           [value]="student.formattedGrade" [ngClass]="{
                                'text-success': student.isPassed === 1,
                                'text-danger': student.isPassed === 0}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="form-group text-dark">
                  <label for="studentStatus" [translate]="'Students.Status'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="studentStatus" name="studentStatus" type="text"
                         [value]="'StudentStatuses.' + student.student.studentStatus.alternateName | translate" [ngClass]="{
                      'text-success': student.student.studentStatus.alternateName ==='active',
                      'text-danger': student.student.studentStatus.alternateName ==='erased',
                      'text-primary': student.student.studentStatus.alternateName ==='graduated',
                      'text-warning': student.student.studentStatus.alternateName ==='suspended',
                      'text-dark': (student.student.studentStatus.alternateName ==='declared' || student.student.studentStatus.alternateName ==='null'),
                      'text-info': student.student.studentStatus.alternateName ==='candidate'}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <a href="#/students/{{student.student?.id}}/dashboard/overview" class="btn btn-md text-light bg-primary px-3 float-right">{{ 'Details' | translate }}</a>
              </div>
            </div>

          </form>
        </form-body>
      </form-collapsible>
    </div>
  </div>
</div>
<div class="mb-3" *ngIf="!model || model.students == 0">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text"  [translate]="'Theses.NoStudents'"></p>
        </div>
      </div>
    </div>
  </div>
</div>
