<div class="card">
  <div class="card-header d-flex">
    <h5 [translate]="'Students.PassedCourses'" class="my-auto"></h5>
    <a *ngIf="showMore" href="#/students/{{studentId}}/courses" class="text-primary ml-auto my-auto"><span [translate]="'Students.More'"></span></a>
  </div>
  <div class="card-body pt-0">
    <div id="group-list"  class="flex-column">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item px-0">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_md_column text-left" [translate]="'Students.Type'"></div>
            <div class="sis--list-group-item_md_column text-left" [translate]="'Students.Courses'"></div>
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Students.Εcts'"></div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item border-0 px-0" *ngFor="let course of courses">
          <div class="d-flex justify-content-center align-items-center list-color font-lg	text-dark">
            <div class="sis--list-group-item_md_column text-left"><span>{{ course?.courseType?.abbreviation }}</span></div>
            <div class="sis--list-group-item_md_column text-left"><span>{{ course?.total }}</span></div>
            <div class="sis--list-group-item_sm_column text-left"><span>{{ course?.ects }}</span></div>
          </div>
        </li>
        <li class="sis--list-group-item border-left-0 border-right-0 border-top border-bottom-0 p-0 my-2"></li>
        <li class="sis--list-group-item border-0 px-0">
          <div class="d-flex justify-content-center align-items-center list-color font-lg text-dark">
            <div class="sis--list-group-item_md_column text-left text-gray-600"><span>{{ 'Students.Total' | translate }}</span></div>
            <div class="sis--list-group-item_md_column text-left"><span>{{ countCourses }}</span></div>
            <div class="sis--list-group-item_sm_column text-left"><span>{{ countECTS }}</span></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-3" *ngIf="!courses || courses.lenght == 0">
      <span [translate]="'Students.Empty'"></span>
    </div>
  </div>
</div>
