<div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Exams.Instructors'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.instructors && this.instructors.selected && this.instructors.selected.length"
        class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span [translate]="'Exams.RemoveInstructor'"></span>
        </a>
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
          <span>+</span><span>&nbsp;</span><span [translate]="'Exams.AddInstructor'"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4 pl-0">
      <app-advanced-table [selectable]="true" [showFooter]="false" (load)="onDataLoad($event)" #instructors
        [height]="600" [config]="config"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
