<div class="col-12 tab-navbar tab-container" *ngIf="model">
    <ul class="nav d-flex">
    <a class="text-decoration-none text-secondary pl-0 font-lg" [routerLink]="['../']">
      <i class="fa fa-chevron-left"></i> {{ 'Internships.Title' | translate }}
    </a>
    </ul>
    <div class="row pt-2">
      <div class="col-auto mr-auto">
        <h2 class="text-dark">({{'InternshipStatus.' + model.status?.alternateName | translate}}) <span></span></h2>
        <!-- <h2 class="text-dark">{{model.name}} <span></span></h2> -->
      </div>
    </div>
    <router-outlet></router-outlet>
</div>