<div class="card" *ngIf="lastRequests">
  <div class="card-header d-md-flex">
    <h5 class="text-gray-600 mt-3"><span [translate]="'Students.ActiveRequests'"></span>: {{ lastRequests?.total }} </h5>
    <a href="#/requests/list?$filter=actionStatus/alternateName eq 'ActiveActionStatus'" class="text-primary ml-auto my-auto"><span [translate]="'Students.More'"></span></a>
  </div>
  <div class="card-body py-0 pb-4" *ngIf="lastRequests.value">
    <div id="group-list"  class="flex-column" *ngIf="lastRequests.value.length>0">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Students.Date'"></div>
            <div class="sis--list-group-item_md_column d-none d-md-block px-4 text-left" [translate]="'Students.Title'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left" [translate]="'Students.Type'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left" [translate]="'Students.Status'"></div>
            <div class="sis--list-group-item_sm_column text-left"></div>`
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let request of lastRequests.value">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_sm_column text-left">{{ request?.dateModified | date:'short' }}</div>
            <div class="sis--list-group-item_md_column d-none d-md-block text-secondary text-truncate px-4 text-left">{{ request?.description }}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-secondary text-left">{{ 'StudentRequestActionsTypes.' + request?.additionalType | translate}}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left">
              <span [ngClass]="request?.actionStatus?.alternateName === 'ActiveActionStatus'? 'text-color-theme' :
                request?.actionStatus?.alternateName === 'CompletedActionStatus'? 'text-success' :
                request?.actionStatus?.alternateName === 'CancelledActionStatus'? 'text-danger' :
                request?.actionStatus?.alternateName === 'FailedActionStatus'? 'text-danger' :
                request?.actionStatus?.alternateName === 'PotentialActionStatus'? 'text-color-theme' : 'text-dark'">
                {{ 'ActionStatusTypes.' + request?.actionStatus?.alternateName | translate}}
              </span>
            </div>
            <div class="sis--list-group-item_sm_column text-right">
              <a href="#/requests/{{ request?.id }}/edit" class="text-primary text-decoration-none"
                 [translate]="'Students.View'"></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-3" *ngIf="lastRequests.value.length===0">
      <span [translate]="'Students.Empty'"></span>
    </div>
  </div>
  
</div>

