<div class="row">
  <div class="col-sm-12">
    <div id="advanced-form">

      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
            <div class="form-group col-xl-4 col-md-6">
              <div class="d-flex flex-row w-100">
                <label class="pr-3" for="studentname" [translate]="'Students.fullName'"></label>
                <input [(ngModel)]="filter.studentName" spellcheck="false" type="text" id="studentname"
                  name="studentname" class="form-control col-7 text-left"
                  placeholder="{{ 'Students.AdvancedSearch.NamePlaceHolder' | translate }}">
              </div>
            </div>
            <div class="form-group col-xl-4 col-md-6">
              <label class="pr-3" for="departmentname" [translate]="'Students.Department'"></label>
              <input [(ngModel)]="filter.department" spellcheck="false" type="text" id="departmentname"
                name="departmentname" class="form-control col text-left"
                placeholder="{{ 'Students.AdvancedSearch.NamePlaceHolder' | translate }}">
            </div>
            <div class="form-group col-xl-4 col-md-6 ">
              <div class="d-flex flex-row w-100 justify-content-md-end">
                <label class="pr-3" for="studyprogram" [translate]="'Students.studyProgram'"></label>
                <input [(ngModel)]="filter.studyProgram" spellcheck="false" type="text" id="studyprogram"
                  name="studyprogram" class="form-control col text-left"
                  placeholder="{{ 'Students.AdvancedSearch.NamePlaceHolder' | translate }}">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
            <div class="form-group col-xl-4 col-md-6">
              <div class="d-flex flex-row w-100">
                <label class="pr-3" for="studentnumber" [translate]="'Students.studentIdentifier'"></label>
                <input [(ngModel)]="filter.studentIdentifier" spellcheck="false" type="text" id="studentnumber"
                  name="studentnumber" class="form-control col-7 text-left"
                  placeholder="{{ 'Students.studentIdentifier' | translate }}">
              </div>
            </div>
            <div class="form-group col-xl-4 col-md-6">
              <most-data #academicYears [model]="'AcademicYears'" [top]="-1" [order]="'id desc'">
              </most-data>
              <div class="d-flex flex-row w-100" *ngIf="academicYears.value">
                <label class="pr-3" for="selectBox" [translate]="'Students.InscriptionYear'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.inscriptionYear">
                  <option [ngValue]="undefined" [translate]="'Students.Choose'"></option>
                  <option *ngFor="let item of academicYears.value" [ngValue]="item.alternateName"
                    [translate]="item.alternateName"></option>
                </select>
              </div>
            </div>
            <div class="form-group col-xl-4 col-md-6">
              <most-data #academicPeriods [model]="'AcademicPeriods'"></most-data>
              <div class="d-flex flex-row w-100" *ngIf="academicPeriods.value">
                <label class="pr-3" for="selectBox" [translate]="'Students.inscriptionPeriod'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.inscriptionPeriod">
                  <option [value]="undefined" [translate]="'Students.Choose'"></option>
                  <option *ngFor="let item of academicPeriods.value" [value]="item.alternateName"
                    [translate]="'Periods.' + item.alternateName">
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>