
/*
 * Toast messages styles override
 */
 .universis-toast-container .toast {
  border: 0;
}
.universis-toast-container.hide-this-please {
  display: none;
}
.universis-toast-container {
  position: fixed;
  top: 66px;
  right: 45px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 17px 0 rgba(177, 177, 177, 0.5);
  border: 0;
}
.toast-header,
.toast.show,
.toast-body {
  border: 0;
  box-shadow: none;
}
.toast-success .toast-header,
.toast-success .toast.show,
.toast-success .toast-body{
  background-color: #ffffff;
  color : #4dbd74;
}
.toast.show {
  position: relative;
}
.toast-error .toast.show,
.toast-error .toast-header,
.toast-error .toast-body {
  background-color: #ffffff;
  color : #f86c6b;
}
/*
 * END Toast messages styles override
 */
