<div class="col-12 tab-navbar tab-container" *ngIf="model">
  <div class="row pt-2 pb-2 ">
    <div class="col-auto mr-auto">
      <h2 class="text-dark">
        {{model.displayCode}} -
        {{model.name}}
      </h2>
    </div>
  </div>
  
  <ul class="nav nav-tabs d-flex mb-3">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="tab.data.title" [routerLink]="[tab.path]"
        [routerLinkActive]="'active'"></a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>